@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  overflow-y: scroll;
}

.welcome {
  font-size: 1em;
  line-height: 1;
  position: absolute;
  bottom: calc(100vh - 6.5rem);
  left: 1rem;
  z-index: 99;
  color: #000000;
  transition: .3s ease-in-out;

  @media only screen and (min-width: 42rem) {
    left: calc((100% - 40rem) / 2);
  }

  @media only screen and (min-height: 75rem) {
    bottom: calc(100vh - (100vh - 60rem) / 2 + 1rem);
  }

  &--hidden {
    opacity: 0;
    transform: translateY(-.7em);
  }
}

.text-input__wrapper {
  box-shadow:
    0 2.1px 2.2px -10px rgba(0, 0, 0, 0.02),
    0 5px 5.3px -10px rgba(0, 0, 0, 0.028),
    0 9.4px 10px -10px rgba(0, 0, 0, 0.035),
    0 16.8px 17.9px -10px rgba(0, 0, 0, 0.042),
    0 31.3px 33.4px -10px rgba(0, 0, 0, 0.05),
    0 75px 80px -10px rgba(0, 0, 0, 0.07)
  ;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: #ffffff;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 60rem;
  max-width: calc(100% - 2rem);
  max-height: calc(100vh - 15rem);
  transition: box-shadow .2s ease-in-out;
  z-index: 999;

  &:hover, &:focus-within {
    box-shadow:
      0 1.5px 1.5px -2px rgba(0, 0, 0, 0.017),
      0 3.7px 3.7px -2px rgba(0, 0, 0, 0.024),
      0 6.9px 6.9px -2px rgba(0, 0, 0, 0.03),
      0 12.3px 12.3px -2px rgba(0, 0, 0, 0.036),
      0 23px 23px -2px rgba(0, 0, 0, 0.043),
      0 55px 55px -2px rgba(0, 0, 0, 0.06)
    ;
  }
}

#text-input {
  resize: none;
  border: none;
  background: none;
  padding: 1rem;
  font-family: 'Lora', serif;
  font-size: 1em;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#text-input:focus {
  outline: transparent;
}

.statistics {
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
  position: absolute;
  top: calc(100vh - 7.5rem + 2rem);
  display: none;

  &__text-wrapper {
    @media only screen and (min-width: 42rem) {
      margin-left: calc((100% - 40rem) / 2);
    }
  }

  &__diagram-wrapper {
    width: 100%;
  }

  &__text {
    width: 40rem;
    max-width: 100%;
  }

  @media only screen and (min-height: 75rem) {
    top: calc(100vh - (100vh - 60rem) / 2 + 2rem);
  }
}

.diagram-word {
  hyphens: auto;
}

#bar-diagramm {
  svg {
    height: 20em;
    @media only screen and (min-width: 1500px) {
      height: 30em;
    }
    text {
      font-family: 'Manrope', sans-serif;
      font-size: 1em;
      fill: #000000;
    }
  }
  margin: 3em 0;
  width: 100%;
  margin-left: -1rem;
  padding: 0 1rem;
  overflow-x: auto;
  text-align: right;
}

#textscaley-diagramm, #textcolor-diagramm {
  line-height: 1.4;
  font-family: 'Lora', serif;
  font-size: 1em;
  margin: 3em 0;
}

#textscaley-diagramm span, #textcolor-diagramm span {
  transform-origin: center;
  display: inline-block;
}

#basic-stats {
  font-size: 10vw;
  line-height: 1.1;
  
  @media only screen and (min-width: 1500px) {
    font-size: 9em;
  }
}

#stats-in-text {
  margin: 3em 0;
}

#top-words {
  line-height: 1.1;
  hyphens: auto;
  .top-1 {
    font-size: 2em;
    @media only screen and (min-width: 1500px) {
      font-size: 5em;
    }
  }
  .top-other {
    font-size: 1.5em;
    @media only screen and (min-width: 1500px) {
      font-size: 3em;
    }
  }
  .top-count {
    font-size: .5em;
  }
}

footer {
  margin: 7em 0 1em;
}